header {
    font-weight: bold;
    font-size: 150%;
}

header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    font-style: italic;
}

header a {
    font-weight: normal;
}

a:visited {
    color: rgb(65, 131, 85);
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
}

footer {
    font-weight: bold;
    font-size: 125%;
    text-align: center;
}